/* Aboutページ */
.aboutTop {
    background-image: url(images/topImage.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(255, 255, 255);  
    background-position: 50%;
    width: 100vw;
    height: 70Vh;
}

.topFont {
    color: azure;
    padding: 30% 5%;
    text-shadow: 1px 2px 3px #bdbdbd; 
}

.aboutProf {
    align-items: center;
    text-align: center;
    padding: 5%;
}

.aboutProf h3 {
    text-align: center;
    margin: 8%;
    font-weight: bold;
}

.aboutProf img {
    width: 90vw;
    margin: 0 auto;
}

.profFont {
    text-align: left;
}

.profFont h4 { 
    font-weight: bold;
    margin: 5% 0;
}
